* {
    box-sizing: border-box;
    padding: 0; 
}

body {
    background-image: url(bg1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    top: 28px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

 .logo {
    width: 250px;
    position: relative;
    top: 45px;
 }

 form {
    border-radius: 15px;
    text-align: center;
    width: 420px;
    height: 485px;
    position: relative;
    left: 538px;
    top: 170px;
    box-shadow: 0 0 20px black;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

}

.i1 {
    width: 350px;
    height: 50px;
    position: relative;
    top: 30px;
    border-radius: 7px;
    border: none;
}

.i2 {
    width: 350px;
    height: 50px;
    position: relative;
    border-radius: 7px;
    top: 55px;
    border: none;
}

.btn {
    position: relative;
    left: 573px;
    top: 50px;
    width: 350px;
    height: 40px;
    background-color: red;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid black; 
    cursor: pointer;
}


.p1 {
    position: relative;
    top: 140px;
}

.p2 {
    position: relative;
    bottom: 40px;
    color: white;
}

.remember {
    position: relative;
    top: 55px;
    right: 120px;
}

::placeholder {
    position: relative;
    left: 10px;
}